<div id="<%= dom_id type_maintenance %>">
  <p>
    <strong>Name:</strong>
    <%= type_maintenance.name %>
  </p>

  <p>
    <strong>Maintenance:</strong>
    <%= type_maintenance.maintenance_id %>
  </p>

</div>
