<h1>Editing type maintenance</h1>

<%= render "form", type_maintenance: @type_maintenance %>

<br>

<div>
  <%= link_to "Show this type maintenance", @type_maintenance %> |
  <%= link_to "Back to type maintenances", type_maintenances_path %>
</div>
