<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-center mt-4">
        <h2>Bienvenidos a Mantenimiento de motores JetMaintain. </h2>
        </div>

        <div class="text-center mt-4">
        <%= image_tag("inicio.jpg", alt: "Inicio") %>
        </div>
    </div>
</div>

