<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-center mt-4">
        <h2>Términos y condiciones </h2>
        </div>

        <div class="text-center mt-4">
        <%= image_tag("terminos.png", alt: "condiciones") %>
        </div>

        <div class="text-center mt-4">
            <p>A continuación detallamos los Términos y Condiciones de uso de nuestros servicios, recepción de datos personales e información que el usuario envíe de manera voluntaria a través de nuestros formularios.</p>
        </div>
    </div>
</div>
