<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Name engine:</strong>
    <%= maintenance.name_engine %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= maintenance.photo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= maintenance.email %>
  </p>

</div>
