<h1>Editar mantenimiento</h1>

<%= render "form", maintenance: @maintenance %>

<br>

<div>
  <%= link_to "ver", maintenance_path(@maintenance) %> |
  <%= link_to "Volver", maintenances_path %>
</div>
